<section class="advice" id="advice">
  <div class="wrapper">
    <div class="advice__inner">
      <h4 class="advice__headline">
        Послуги нашої компанії
      </h4>
      <div class="advice__wrapper-lists">
        <ul class="advice__list-photo">
          <li class="advice__item-photo advice__hide">
            <img src="../img/general/1.jpg" alt="фото дому" loading="lazy">
          </li>
          <li class="advice__item-photo">
            <img src="../img/general/2.jpg" alt="фото дому" loading="lazy">
          </li>
          <li class="advice__item-photo advice__hide" loading="lazy">
            <img src="../img/general/3.jpg" alt="фото дому" loading="lazy">
          </li>
          <li class="advice__item-photo">
            <img src="../img/general/4.jpg" alt="фото дому" loading="lazy">
          </li>
        </ul>
        <ul class="advice__list">
          <li class="advice__item">утеплення фасадів</li>
          <li class="advice__item">вікна, двері</li>
          <li class="advice__item">вхідні та броньовані двері</li>
          <li class="advice__item">покрівля</li>
          <li class="advice__item">сантехніка</li>
          <li class="advice__item">натяжні стелі</li>
          <li class="advice__item">тротуарна плитка</li>
          <li class="advice__item">ковані вироби</li>
          <li class="advice__item">сонячні батареї та теплові насоси</li>
          <li class="advice__item">машинна штукатурка</li>
          <li class="advice__item">3д друк</li>
          <li class="advice__item">меблі, кузня</li>
          <li class="advice__item">техніка з Європи</li>
          <li class="advice__item">оренда будівельного риштування</li>
        </ul>
      </div>
    </div>
  </div>
</section>