<section class="benefits" id="benefits">
  <div class="wrapper">
    <div class="benefits__inner">
      <div class="benefits__inner-text">
        <h2 class="benefits__headline">
          Вже багато років займаємося комплексними, ексклюзивними ремонтами
        </h2>
        <p class="benefits__slogan">
          Довірте оздоблення вашого приміщення команді досвідчених спеціалістів, які вчасно і якісно виконають ремонт
          без зайвих турбот і попіклуються про це за вас!
        </p>
      </div>

      <ul class="benefits__list">
        <li class="benefits__item">
          <img src="../img/icons/human.svg" alt="будівельник фото" loading="lazy">
          <p class="benefits__text">
            50+ Досвідчених працівників
          </p>
        </li>
        <li class="benefits__item">
          <img src="../img/icons/shield.svg" alt="щит фото" loading="lazy">
          <p class="benefits__text">
            гарантія ремонтних робіт
          </p>
        </li>
        <li class="benefits__item">
          <img src="../img/icons/technologi.svg" alt="папка фото" loading="lazy">
          <p class="benefits__text">
            витримування технологій у роботі
          </p>
        </li>
        <li class="benefits__item">
          <img src="../img/icons/key.svg" alt="ключ фото" loading="lazy">
          <p class="benefits__text">
            Ремонт «під ключ» від а до я
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>