<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@@title</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="Shortcut Icon" type="image/x-icon" href="img/general/title.png" />

	<link rel="stylesheet" href="css/libs/swiper.css">
</head>

<body>

	<!-- Add autoHide class to automatically hide the header on scroll -->
	<header class="header">
		<div class="wrapper">
			<div class="header__inner">
				<a href="#" class="header__logo">Shtagrobud</a>
				<nav class="header__navigation">
					<ul class="header__list">
						<li class="header__item">
							<a href="#benefits">про нас</a>
						</li>
						<li class="header__item">
							<a href="#operations">види робіт</a>
						</li>
						<li class="header__item">
							<a href="#advice">послуги</a>
						</li>
						<li class="header__item">
							<a href="#footer">Контакти</a>
						</li>
					</ul>
					<div class="menu__mobile">
						<div class="menu__mobile_button">
							<span></span>
						</div>
					</div>
				</nav>
				<ul class="header__mobile-list">
					<li class="header__mobile-item">
						<a href="#benefits">про нас</a>
					</li>
					<li class="header__mobile-item">
						<a href="#operations">види робіт</a>
					</li>
					<li class="header__mobile-item">
						<a href="#advice">послуги</a>
					</li>
					<li class="header__mobile-item">
						<a href="#footer">Контакти</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<main class="main">