<section class="hero">
  <div class="wrapper">
    <div class="hero__inner">
      <div class="hero__inner-text">
        <h1 class="hero__headline">Будівельно-ремонтні роботи будь-якої складності</h1>
        <div class="hero__slogan">
          <p class="hero__text">Залишити заявку для більш детальної консультації</p>
          <a href="#footer" class="hero__btn">звернутись</a>
        </div>
      </div>

      <div class="hero__slider swiper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="hero__slide-item swiper-slide">
            <img src="../img/general/work2.jpg" alt="дім" loading="lazy">
          </div>
          <div class="hero__slide-item swiper-slide">
            <img src="../img/general/work3.jpg" alt="дім" loading="lazy">
          </div>
          <div class="hero__slide-item swiper-slide">
            <img src="../img/general/work4.jpg" alt="дім" loading="lazy">
          </div>
          <div class="hero__slide-item swiper-slide">
            <img src="../img/general/work5.jpg" alt="дім">loading="lazy"
          </div>
        </div>
        <div class="hero__navigation">
          <div class="hero__prev swiper-button-prev">
            <img src="../img/icons/arrow-left.svg" alt="стрілка вліво фото" loading="lazy">
          </div>
          <div class="hero__next swiper-button-next">
            <img src="../img/icons/arrow-right.svg" alt="стрілка вправо фото" loading="lazy">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>