<section class="operations" id="operations">
  <div class="wrapper">
    <div class="operations__inner">
      <h3 class="operations__headline">Будівельно-ремонтні роботи, <span>які створювались моєю командою:</span> </h3>
      <ul class="operations__list">
        <li class="operations__item">Квартири</li>
        <li class="operations__item">Будинки</li>
        <li class="operations__item">Магазини</li>
        <li class="operations__item">Склади</li>
        <li class="operations__item">Фасади</li>
        <li class="operations__item">Балкон з виносом</li>
      </ul>
      <p class="operations__text">
        🛠️ Відновлюйте та оновлюйте свій простір з нами! 🏠
      </p>
    </div>
  </div>
</section>